* {
    font-family: Arial;
}

h1 {
    font-size: 6em;
}

h2{
    font-size: 3em;
    margin-top: 0.6em;
    font-style: italic;
}

a{
    color: darkcyan;
}

.backtext{
    font-size: 6em;
    font-weight: bold;
    line-break: anywhere;
    text-wrap-mode: wrap;
    overflow-wrap: anywhere;
    position: absolute;
    color: #0000ff;
    background-color: #ffff00;
    font-style: italic;
}

.mainbox {
    border: 10px solid black;
    margin: 32px;
    background: white;
    padding-right: 32px;
    padding-left: 32px;
    padding-bottom: 32px;
    padding-top: 8px;
}

.root{
    display: flex;
    justify-content: center;
}

.mainflex{
    position: absolute;
    display: flex;
    max-width: 1600px;
    flex-direction: column;
    align-items: center;
}

.mainheader {
    text-align: center;
}

.gallery{
    display: flex;
}

.gallery>img{
    width: 256px;
    height: 256px;
    margin: 0px;
    padding: 0px;
}

img{
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
    display: block;
    margin: 16px;
}

.blue {
    color: blue;
}

.magenta {
    color: magenta;
}

.smol {
    font-size: 0.8em;
    color: gray;
}

summary {
    font-weight: bold;
    font-size: 1.5em;
}